h1.heading-0 Censimento delle attività di coding

.poll-info Il censimento è condotto in forma <strong>anonima</strong> e non contiene tracciatori di nessun genere. Si è scelto di non inserire un
  <em><a href="https://it.wikipedia.org/wiki/CAPTCHA">CAPTCHA</a></em> a protezione della scansione automatica del modulo per rendere la compilazione meno tediosa. 
  Per quanto possibile sono state inserite caselle a discesa ma in alcuni casi i campi liberi sono stati l'unica alternativa visto la moltitudine di possibilità.
  Confidiamo nella vostra serietà e scrupolo per riuscire a creare una visione sufficientemente reale delle attività di coding svolte in Italia. 

.polls-info Grazie

.polls-info
  h4 Sono state censite #{polls.size} attività al #{Time.now.strftime("%d/%m/%Y")}.

.polls-info
  ==styled_flash

form action="/polls/coding" method="POST"
  h2 Contesto
  .form-group.row
    fieldset.col-md-2
      label Classe*
      select.form-control type="text" name="activity[classroom]"
        ruby:
          options = [["0", "Non indicata"],["1", "Prima"],["2", "Seconda"],
            ["3", "Terza"],["4", "Quarta"],["5", "Quinta"]]
        - options.each do |n|
          - if params[:activity][:classroom].to_s == n[0]
            option value="#{n[0]}" selected="1"
              =n[1]
          - else
            option value="#{n[0]}"
              =n[1]  
      span.help-block Scegliere la classe.
    fieldset.col-md-5
      label Scuola*      
      select.form-control type="text" name="activity[school]"
        ruby:
          options = ["Nessuna", "Scuola dell'Infanzia","Scuola primaria","Scuola secondaria di primo grado",
            "Scuola secondaria di secondo grado","Liceo artistico","Liceo classico","Liceo linguistico",
            "Liceo musicale e coreutico","Liceo scientifico","Liceo scienze umane","Istituto tecnico","Istituto professionale",
            "Scuole con indirizzo informatico"]
        - options.each do |n|
          - if params[:activity][:school].to_s == n
            option value="#{n}" selected="1"
              =n
          - else
            option value="#{n}"
              =n  
      span.help-block Scegliere il tipo di scuola.
    fieldset.col-md-3
      label Città
      input.form-control type="text" name="activity[city]" value=params[:activity][:city]
      span.help-block Nome della città in cui risiede la scuola.
    fieldset.col-md-2
      label Provincia*
      select.form-control type="number" name="activity[province]"
        ruby:
          options = [
            ["Non indicata","0"],
            ["Agrigento","AG"],
            ["Alessandria","AL"],
            ["Ancona","AN"],
            ["Aosta","AO"],
            ["Arezzo","AR"],
            ["Ascoli Piceno","AP"],
            ["Asti","AT"],
            ["Avellino","AV"],
            ["Bari","BA"],
            ["Barletta-Andria-Trani","BT"],
            ["Belluno","BL"],
            ["Benevento","BN"],
            ["Bergamo","BG"],
            ["Biella","BI"],
            ["Bologna","BO"],
            ["Bolzano","BZ"],
            ["Brescia","BS"],
            ["Brindisi","BR"],
            ["Cagliari","CA"],
            ["Caltanissetta","CL"],
            ["Campobasso","CB"],
            ["Caserta","CE"],
            ["Catania","CT"],
            ["Catanzaro","CZ"],
            ["Chieti","CH"],
            ["Como","CO"],
            ["Cosenza","CS"],
            ["Cremona","CR"],
            ["Crotone","KR"],
            ["Cuneo","CN"],
            ["Enna","EN"],
            ["Fermo","FM"],
            ["Ferrara","FE"],
            ["Firenze","FI"],
            ["Foggia","G"],
            ["Forlì-Cesena","FC"],
            ["Frosinone","FR"],
            ["Genova","GE"],
            ["Gorizia","GO"],
            ["Grosseto","GR"],
            ["Imperia","IM"],
            ["Isernia","IS"],
            ["L'Aquila","AQ"],
            ["La Spezia","SP"],
            ["Latina","LT"],
            ["Lecce","LE"],
            ["Lecco","LC"],
            ["Livorno","LI"],
            ["Lodi","LO"],
            ["Lucca","LU"],
            ["Macerata","MC"],
            ["Mantova","MN"],
            ["Massa e Carrara","MS"],
            ["Matera","MT"],
            ["Messina","ME"],
            ["Milano","MI"],
            ["Modena","MO"],
            ["Monza e Brianza","MB"],
            ["Napoli","NA"],
            ["Novara","NO"],
            ["Nuoro","NU"],
            ["Oristano","OR"],
            ["Padova","PD"],
            ["Palermo","PA"],
            ["Parma","PR"],
            ["Pavia","PV"],
            ["Perugia","PG"],
            ["Pesaro e Urbino","PU"],
            ["Pescara","PE"],
            ["Piacenza","PC"],
            ["Pisa","PI"],
            ["Pistoia","PT"],
            ["Pordenone","PN"],
            ["Potenza","PZ"],
            ["Prato","PO"],
            ["Ragusa","RG"],
            ["Ravenna","RA"],
            ["Reggio Calabria","RC"],
            ["Reggio Emilia","RE"],
            ["Rieti","RI"],
            ["Rimini","RN"],
            ["Roma","ROMA"],
            ["Rovigo","RO"],
            ["Salerno","SA"],
            ["Sassari","SS"],
            ["Savona","SV"],
            ["Siena","SI"],
            ["Siracusa","SR"],
            ["Sondrio","SO"],
            ["Sud Sardegna","SUDSARDEGNA"],
            ["Taranto","TA"],
            ["Teramo","TE"],
            ["Terni","TR"],
            ["Torino","TO"],
            ["Trapani","TP"],
            ["Trento","TN"],
            ["Treviso","TV"],
            ["Trieste","TS"],
            ["Udine","UD"],
            ["Varese","VA"],
            ["Venezia","VE"],
            ["Verbano-Cusio-Ossola","VB"],
            ["Vercelli","VC"],
            ["Verona","VR"],
            ["Vibo Valentia","VV"],
            ["Vicenza","VI"],
            ["Viterbo","VT"]
            ]
        - options.each do |n|
          - if params[:activity][:province].to_s == n[1]
            option value="#{n[1]}" selected="1"
              =n[0]
          - else
            option value="#{n[1]}"
              =n[0] 
      span.help-block Indicare la provincia dove risiede la scuola.

  .form-group.row
    fieldset.col-md-2
      label Età media*
      select.form-control type="number" name="activity[average_age]"
        ruby:
          options = [["0", "Non indicata"],["3-6", "3-6"],["6-9", "6-9"],["9-12", "9-12"],["12-15", "12-15"],
            ["15-18", "15-18"],["18-21", "18-21"],["21-25", "21-25"],["25-35", "25-35"],
            ["35-45", "35-45"],["45-55", "45-55"],["55-100", "Oltre 55"]]
        - options.each do |n|
          - if params[:activity][:average_age].to_s == n[0]
            option value="#{n[0]}" selected="1"
              =n[1]
          - else
            option value="#{n[0]}"
              =n[1] 
      span.help-block Età media dei partecipanti.
    fieldset.col-md-2
      label Maschi*
      input.form-control type="number" name="activity[males]" value=params[:activity][:males]
      span.help-block Numero dei partecipanti di genere maschile
    fieldset.col-md-2
      label Femmine*
      input.form-control type="number" name="activity[females]" value=params[:activity][:females]
      span.help-block Numero dei partecipanti di genere femminile

    fieldset.col-md-3      
        label Data inizio*
        div.input-group.date.datetime-input
          input.form-control type="datetime" name="activity[date_begin]" value=params[:activity][:date_begin]
          span class="input-group-addon"
            span class="glyphicon glyphicon-calendar"
        span.help-block Data di inizio delle attività di coding (gg/mm/aaaa).

    fieldset.col-md-3      
        label Data termine*
        div.input-group.date.datetime-input
          input.form-control type="datetime" name="activity[date_end]" value=params[:activity][:date_end]
          span class="input-group-addon"
            span class="glyphicon glyphicon-calendar"
        span.help-block Data di termine delle attività di coding (gg/mm/aaaa).

  h2 Competenze del docente

  .form-group.row
    fieldset.col-md-2
      label Età*
      select.form-control type="text" name="teacher_skills[age]"
        ruby:
          options = [["0", "Non indicata"],["18-21", "18-21"],["21-25", "21-25"],
            ["25-35", "25-35"],["35-45", "35-45"],["45-55", "45-55"],["55-100", "Oltre 55"]]
        - options.each do |n|
          - if params[:teacher_skills][:age].to_s == n[0]
            option value="#{n[0]}" selected="1"
              =n[1]
          - else
            option value="#{n[0]}"
              =n[1] 
      span.help-block Indicare la fascia d'età.
    fieldset.col-md-2
      label Genere
      select.form-control name="teacher_skills[sex]"
        ruby:
          options = [["0", "Non indicata"],["m", "Maschile"],["f", "Femminile"]]
        - options.each do |n|
          - if params[:teacher_skills][:sex].to_s == n[0]
            option value="#{n[0]}" selected="1"
              =n[1]
          - else
            option value="#{n[0]}"
              =n[1]  
      span.help-block Indicare il genere dell'insegnante (facoltativo)
    fieldset.col-md-4
      label Ruolo e/o materia*
      input.form-control type="text" name="teacher_skills[role]" value=params[:teacher_skills][:role]
      span.help-block Indicare il ruolo svolto nella scuola (es.: Animatore Digitale) e/o la materia insegnata.
    fieldset.col-md-4
      label Associazioni o Gruppi di appartenza.
      input.form-control type="text" name="teacher_skills[groups]" value=params[:teacher_skills][:groups]
      span.help-block Indicare possibilmente in campi separati da punto e virgola i gruppi o le associazioni di appartenenza.

  .form-group.row
    fieldset.col-md-6
      label Conoscenze*
      textarea.form-control rows="4" name="teacher_skills[knowledge]"
        ==params[:teacher_skills][:knowledge]
      span.help-block Indicare possibilmente in campi separati da punti e virgola le conoscenze attinenti al contesto.
    fieldset.col-md-6
      label Formazione*
      textarea.form-control rows="4" name="teacher_skills[training]" 
        ==params[:teacher_skills][:training]
      span.help-block Indicare possibilmente in campi separati da punto e virgola gli ambiti di formazione attinenti al contesto.

  h2 Progetto

  .form-group.row
    fieldset.col-md-4
      label Tempo previsto*
      input.form-control type="text" name="projects[estimated_time_in_days]" value=params[:projects][:estimated_time_in_days]
      span.help-block Indicare in ore il tempo previsto per lo svolgimento della attività.
    fieldset.col-md-3      
        label Data inizio*
        div.input-group.date.datetime-input
          input.form-control type="datetime" name="projects[date_begin]" value=params[:projects][:date_begin]
          span class="input-group-addon"
            span class="glyphicon glyphicon-calendar"
        span.help-block Indicare la data di inizio della attività (gg/mm/aaaa).
    fieldset.col-md-3      
        label Data fine*
        div.input-group.date.datetime-input
          input.form-control type="datetime" name="projects[date_end]" value=params[:projects][:date_end]
          span class="input-group-addon"
            span class="glyphicon glyphicon-calendar"
        span.help-block Indicare la data di fine della attività (gg/mm/aaaa).

  .form-group.row
    fieldset.col-md-4
      label Obiettivo*
      textarea.form-control rows="4" name="projects[goals]" 
        ==params[:projects][:goals]
      span.help-block Indicare gli scopi raggiunti o previsti.
    fieldset.col-md-4
      label Attività proposte*
      textarea.form-control rows="4" name="projects[activity]" 
        ==params[:projects][:activity]
      span.help-block Indicare le attività proposte od eseguite.
    fieldset.col-md-4
      label Buone pratiche
      textarea.form-control rows="4" name="projects[best_practices]" 
        ==params[:projects][:best_practices]
      span.help-block Indicare le <em>buone pratiche</em> utilizzate.



  .form-group.row
    fieldset.col-md-12.row      
      ruby:
        ambients = [
          ["Scratch 2.x", "Scratch2","https://scratch.mit.edu/"],
          ["AppInventor", "AppInventor", "http://appinventor.mit.edu/explore/front.html"],
          ["AgentSheets and AgentCubes", "AgentSheets and AgentCubes","http://www.agentsheets.com/"],
          ["Alice", "Alice", "http://www.alice.org"],
          ["Apple Swift Playground", "Apple Swift Playground","https://www.apple.com/swift/playgrounds/"],
          ["Beebot", "Beebot","https://www.bee-bot.us/"],
          ["Beetle Blocks", "Beetle Blocks","http://beetleblocks.com/"],
          ["Blockly", "Blockly","https://developers.google.com/blockly/"],
          ["BYOB","BYOB","https://snap.berkeley.edu/"],
          ["Catrobat", "Catrobat","https://www.catrobat.org/"],
          ["CodeCombat", "CodeCombat","https://codecombat.com/"],
          ["CodyRoby", "CodyRoby","http://codeweek.it/codyroby/"],
          ["DuckQuack", "DuckQuack","https://github.com/minimalprocedure/DuckQuack"],
          ["Etoys", "Etoys","http://www.squeakland.org/"],
          ["Hackety Hack", "Hackety Hack","http://hackety.com/"],
          ["KidsRuby", "KidsRuby","http://kidsruby.com/"],
          ["Kojo", "Kojo","http://www.kogics.net/sf:kojo"],
          ["LibreLogo", "LibreLogo","http://librelogo.org"],
          ["Linotte", "Linotte","http://langagelinotte.free.fr/wordpress/"],          
          ["Minecraft", "Minecraft","https://education.minecraft.net/"],
          ["Minetest", "Minetest","http://www.minetest.net/"],
          ["NetLogo", "NetLogo","http://ccl.northwestern.edu/netlogo/"],
          ["OpenRoberta", "OpenRoberta","https://lab.open-roberta.org/"],
          ["Phratch", "Phratch","http://www.phratch.com/"],
          ["Scratch 1.4", "Scratch1","https://scratch.mit.edu/"],          
          ["Snap!", "Snap!","https://snap.berkeley.edu/"],
          ["StarLogo", "StarLogo","http://education.mit.edu/portfolio_page/starlogo-tng/"],
          ["ToonTalk", "ToonTalk","http://www.toontalk.com/"],
          ["Touch Develop", "Touch Develop","https://www.touchdevelop.com/"]
          ]
          links = (ambients.reduce([]) {|acc, l| acc << %(<a href="#{l[2]}">#{l[0]}</a>)}).join('; ')

          def build_options(ambients, num)
            (ambients.reduce([]) {|acc, l| 
              selected = params[:projects]["environment#{num}".to_sym].to_s == l[1] ? 'selected' : ''
              acc << %(<option #{selected} value="#{l[1]}">#{l[0]}</option>)
            }).join
          end

    fieldset.col-md-3  
      label Ambiente primario*
      select.form-control type="text" name="projects[environment1]"
        option value="0" = "Non indicato"
        ==build_options(ambients, 1)

    fieldset.col-md-3  
      label Ambiente secondario
      select.form-control type="text" name="projects[environment2]" 
        option value="0" = "Non indicato"
        ==build_options(ambients, 2)

    fieldset.col-md-3 
      label Ambiente aggiuntivo
      select.form-control type="text" name="projects[environment3]" 
        option value="0" = "Non indicato"
        ==build_options(ambients, 3)

    fieldset.col-md-3  
      label Ambiente aggiuntivo
      select.form-control type="text" name="projects[environment4]" 
        option value="0" = "Non indicato"
        ==build_options(ambients, 4)

    fieldset.col-md-12 
      label Ambienti aggiuntivi non compresi nelle liste precedenti.
      textarea.form-control.col-md-4 rows="4" name="projects[environments]" 
        ==params[:projects][:environments]
      span.help-block== %(Indicare possibilmente, se più di uno, in campi separati da punto e virgola gli ambienti utilizzati. (lista non completa: #{links}))


    fieldset.col-md-12
      label Strumenti di monitoraggio
      textarea.form-control rows="4" name="projects[monitorings]" 
        ==params[:projects][:monitorings]
      span.help-block Indicare se utilizzati eventuali ambienti di monitoraggio dei progressi.

  h2 Valutazione

  .form-group.row
    fieldset.col-md-4
      label Raggiungimento dell'obiettivo*
      textarea.form-control rows="4" name="ratings[goals]" 
        ==params[:ratings][:goals]
      span.help-block Indicare se l'obiettivo è stato raggiunto ed in quale misura.
    fieldset.col-md-4
      label Difficoltà principali incontrate
      textarea.form-control rows="4" name="ratings[difficulties]" 
        ==params[:ratings][:difficulties]
      span.help-block Indicare le eventuali difficoltà incontrate.
    fieldset.col-md-4
      label Risultati non previsti
      textarea.form-control rows="4" name="ratings[unexpected]" 
        ==params[:ratings][:unexpected]
      span.help-block Indicare eventuali risultati non previsti.

  .form-group.row
    fieldset.col-md-6
      label Osservazioni del docente
      textarea.form-control rows="4" name="ratings[comments_teacher]" 
        ==params[:ratings][:comments_teacher]
      span.help-block Eventuali commenti sulla attività svolta da parte del docente o suggerimenti per attività future.
    fieldset.col-md-6
      label Osservazioni dei partecipanti
      textarea.form-control rows="4" name="ratings[comments]" 
        ==params[:ratings][:comments]
      span.help-block Raccogliere dei commenti da parte dei partecipanti ed indicarli in forma anonima.

  h2 Sviluppi futuri

  .form-group.row
    fieldset.col-md-4
      label Prosecuzione dell'attività
      - if params[:futures][:activities] && params[:futures][:activities] == "t"
        input.form-control type="checkbox" name="futures[activities]" value="t" checked="1"
      - else
        input.form-control type="checkbox" name="futures[activities]" value="t" 
      span.help-block Indicare se si intenderanno proseguire le attività o attività analoghe.
    fieldset.col-md-4
      label Riuso dei prodotti
      - if params[:futures][:products_reuse] && params[:futures][:products_reuse] == "t"
        input.form-control type="checkbox" name="futures[products_reuse]" value="t" checked="1"
      - else
        input.form-control type="checkbox" name="futures[products_reuse]" value="t"
      span.help-block Indicare se i prodotti software utilizzati saranno riutilizzati in caso di prosecuzione o nuove attività.
    fieldset.col-md-4
      label Disponibilità alla condivisione
      - if params[:futures][:sharing] && params[:futures][:sharing] == "t"
        input.form-control type="checkbox" name="futures[sharing]" value="t" checked="1"
      -else
        input.form-control type="checkbox" name="futures[sharing]" value="t"
      span.help-block Indicare se si è disponibili alla condivisione delle proprie attività con altri.

  .form-group.row
    fieldset.col-md-9
      .email
        =="Nel caso si incontrassero problemi nella compilazione: "      
        a href="mailto:info@codingmonamour.org?subject=[#codingmonamour:polls:coding]"
          =="info@codingmonamour.org"
    fieldset.col-md-3
      input.form-control.btn.btn-default type="submit" value="Invia"
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
