
@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
    format("truetype");
}

@font-face {
    font-family: UbuntuMono;
    src: url(/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
    format("truetype");
}

html {

}

body {
    background-color: #FF89D4;
    background-image: url(/images/bg-tissue.png);
    background-position: 0px 0px;
    font-size: 16px;
    font-family: Ubuntu, Arial, sans-serif;
}

.jumbotron.head {
    /*-webkit-box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
    -moz-box-shadow: -4px 3px 8px -4px rgba(0,0,0,090);
    box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);*/
    padding-bottom: 0em;
    margin-bottom: 0.6em;
    background-color: #B0518D;
    text-align: center;
}

.jumbotron.head h1 {
    margin: -2em 0em 0em 0em;
    color: #ffffff;
    font-weight: bold;
    font-size: 4em;
}

.jumbotron.head img {
    margin: -3em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    width: 100%;
}

.jumbotron.foot {
    /*-webkit-box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
    -moz-box-shadow: -4px 3px 8px -4px rgba(0,0,0,090);
    box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);*/
    padding: 0em;
    margin: -3.4em 0em 0em 0em;
    background-color: #B0518D;
    text-align: center;
    height: 6em;
}

.jumbotron.topbar {
    /*-webkit-box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
    -moz-box-shadow: -4px 3px 8px -4px rgba(0,0,0,090);
    box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);*/
    padding-bottom: 0em;
    margin-top: -2.4em;
    margin-top: 0em;
    margin-bottom: 0em;
    background-color: #B0518D;
    /*text-align: center;*/
    text-align: left;
    border-bottom: 1px solid #B0518D;
}

.jumbotron.topbar .container-fluid {
    color: #ffffff;
    background-color: #B0518D;
    width: 64%;
}

.jumbotron.topbar .navbar-toggle {
    background-color: #FF89D4;
}

.jumbotron.topbar .navbar-toggle .icon-bar {
    border-bottom: 2px solid #ffffff;
}

.nav > li > a {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

nav.topbar {
    /*height: 3em;*/
}

.topbar li {
    padding-top: 0.6em;
}

.topbar li a {
    color: #ffffff;
    background-color: #B0518D;
    font-weight: bold;
}

.topbar li a:hover {
    color: #ffffff;
    background-color: #FF89D4;
}


.container {
    background-color: #ffffff;
    padding: 0em 2em;
}

.container.document {
    background-color: #ffffff;
    margin-top: 0em;
    width: 64%;
    border-left: 1px solid #B0518D;
    border-right: 1px solid #B0518D;
    border-bottom: 1px solid #B0518D;
    overflow-x: hidden;
}

pre {
    border-radius: 0px;
}

p {
    padding: 0em 1.4em 0.4em 1.4em;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #222222;
}

.metadatas {
    margin-top: 1.6em;
    font-size: 0.8em;
}

.help-block {
  font-size: 0.8em;
}

.flash {
  text-align: center;
  padding: 1em;
  border: 1px solid #cccccc;
}

.flash.success {
  background-color: #52A7E2;
}

.flash.error {
  background-color: #E25252;
}

input[type="number"] {
  padding-right: 2px;
}

textarea.form-control {
    height: 4em;
}

.polls-info h4 {
  font-size: 1em;
  font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 991px){

    .container.document {
        width: 84%;
    }
    .jumbotron.topbar .container-fluid {
        width: 84%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px){
    /*
    body {
        font-size: 16px;
    }
   */
    .jumbotron.head h1 {
        margin: -3em 0em 0em 0em;
        color: #ffffff;
        font-weight: bold;
        font-size: 2.6em;
    }
    .container.document {
        width: 100%;
    }
    .jumbotron.topbar {
        text-align: right;
    }
    .jumbotron.topbar .container-fluid {
        width: 100%;
    }
    .jumbotron.topbar li {
        padding-top: 0em;
    }
    .jumbotron.topbar li a {
        float: left;
        display: inline-block;
    }

}

@media only screen and (min-width: 767px) and (max-width: 1024px){
    .navbar-header {
        display: none;
    }
    .container.document {
        width: 84%;
    }
    .jumbotron.topbar .container-fluid {
        width: 84%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px){

    .jumbotron.head h1 {
        margin: -2em 0em 0em 0em;
        color: #ffffff;
        font-weight: bold;
        font-size: 2em;
    }
}
